* {
    -fx-dark: #0e1621;
    -fx-blue: #2f6ea5;
    -fx-blueGray : #17212b
}
.anchor-pane{
    -fx-background-color:  -fx-dark;
}
.chat-HBox{
    -fx-background-color:  transparent;
}
.chat-HBox:hover{
    -fx-background-color: #202b36;
}
#chatSearchTextField{
    -fx-background-radius: 15;
}
.list-view{
    -fx-background-color: #17212b;
}
.list-cell {
    -fx-padding: -1px;

}
.list-view .list-cell:odd {
    -fx-background-color: #17212b;
}
.list-view .list-cell:even {
    -fx-background-color: #17212b;
}
.chats-cards-pane{
    -fx-background-color: #17212b;
}
.button{
    -fx-background-color: -fx-blue;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 10;
}
.button:hover {
    -fx-cursor: hand;
}
