
.chat-HBox{
    -fx-background-color:  transparent;
}
.chat-HBox:hover{
    -fx-background-color: #202b36;
}
#chatSearchTextField{
    -fx-background-radius: 15;
}
.list-view{
    -fx-background-color: #17212b;
}
.list-cell {
    -fx-padding: -1px;

}
.list-view .list-cell:odd {
    -fx-background-color: #17212b;
}
.list-view .list-cell:even {
    -fx-background-color: #17212b;
}
.chats-cards-pane{
    -fx-background-color: #17212b;
}
