* {
    -fx-dark: #0e1621;
    -fx-dark-blue: #182732;
    -fx-blue: #2a5379;
    -fx-gray: #4c5660;
    -fx-light: #e7e5e5;
}

.chat-banner {
    -fx-background-color: -fx-dark-blue;
}

.chat-label {
    -fx-text-fill: -fx-gray;
    -fx-font-size: 20px;
    -fx-font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.bot-bar {
    -fx-background-color: -fx-dark-blue;
}

.bar-button:hover {
    -fx-cursor: hand;
}

.list-view {
    -fx-background-color: -fx-dark;
}

.list-cell {
    -fx-padding: -1px;
}

.list-view .list-cell:odd {
    -fx-background-color: -fx-dark;
}

.list-view .list-cell:even {
    -fx-background-color: -fx-dark;
}

.contact-message {
    -fx-background-color: -fx-dark-blue;
    -fx-text-fill: -fx-light;
    -fx-font-size: 15px;
    -fx-font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -border-color: transparent;
}

.user-message {
    -fx-background-color: -fx-blue;
    -fx-text-fill: -fx-light;
    -fx-font-size: 15px;
    -fx-font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -border-color: transparent;
}

.scroll-bar {
    -fx-background-color: -fx-dark-blue;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-gray;
}

.text-field {
    -fx-border-color: -fx-dark;
    -fx-border-radius: 4px;
    -fx-background-color: -fx-dark;
    -fx-text-fill: -fx-light;
    -fx-font-size: 15px;
    -fx-font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.button .graphic {
    -fx-background-color: transparent;
}