* {
        -fx-dark: #17212b;
        -fx-blue: #2f6ea5;
        -fx-light: #e7e5e5;
}



.left-pane {
        /* -fx-background-color: -fx-blue; */
        -fx-background-color: linear-gradient(to top, -fx-blue, -fx-light 95%);
        -fx-border-width: 1px;
        -fx-padding: 10px;
        -fx-border-color: transparent;
        -fx-border-radius: 5px;
}

.left-pane-button {
        -fx-background-color: -fx-dark;
        -fx-border-width: 1px;
        -fx-padding: 5px 10px;
        -fx-text-fill: -fx-light;
        -fx-font-size: 22px;
        -fx-font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        -fx-margin-bottom: 10px;
        -fx-border-color: transparent;
        -fx-border-radius: 5px;
        -fx-cursor: hand;
        -fx-background-radius: 5px;
        -fx-font-weight: bold;
        -fx-transition-duration: 0.3s;
}

.left-pane-button:hover {
        -fx-scale-x: 1.1;
        -fx-scale-y: 1.1;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 0);

}

.left-pane-button:pressed {
        -fx-translate-y: 4px;
}

.right-pane {
        -fx-background-color: -fx-dark;
}

.bar {
        -fx-background-color: -fx-dark;
        -fx-text-fill: -fx-light;
}

.label {
        -fx-text-fill: -fx-light;
        -fx-font-size: 40px;
        -fx-font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        -fx-font-weight: bold;
        -fx-alignment: center;
}

#server-status {
        -fx-text-fill: -fx-light;
        -fx-font-size: 20px;
        -fx-font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        -fx-font-weight: bold;
        -fx-alignment: center;
        -fx-border-color: transparent;
        -fx-border-radius: 5px;
}

.right-pane-button {
        -fx-background-color: -fx-blue;
        -fx-border-width: 1px;
        -fx-padding: 5px 10px;
        -fx-text-fill: -fx-light;
        -fx-font-size: 30px;
        -fx-font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        -fx-margin-bottom: 10px;
        -fx-border-color: transparent;
        -fx-border-radius: 5px;
        -fx-cursor: hand;
        -fx-background-radius: 30px;
        -fx-font-weight: bold;
        -fx-transition: background-color 2.5s;
}

.right-pane-button:hover {
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.8, 0, 0);
}

.right-pane-button:pressed {
        -fx-translate-y: 4px;
}


#start-button:hover {
        -fx-background-color: green;
}

#exit-button:hover {
        -fx-background-color: red;
}




.text-field {
        -fx-border-color: -fx-dark;
        -fx-border-radius: 4px;
        -fx-background-color: -fx-dark;
        -fx-text-fill: -fx-light;
}

.text-field:focused {
        -fx-border-color: -fx-blue;
        -fx-border-width: 2px;
}

.text-area {
        -fx-text-fill: -fx-light;
}

.text-area .content {
        -fx-border-color: -fx-dark;
        -fx-border-radius: 4px;
        -fx-background-color: -fx-dark;
        -fx-text-fill: -fx-light;
}

.text-area .content:focused {
        -fx-border-color: -fx-blue;
        -fx-border-width: 2px;
}


.tabPane {
        -fx-background-color: -fx-dark;
}

.tab-header-background {
        -fx-background-color: -fx-blue;
        -fx-background-radius: 2px;
}

.tab {
        -fx-background-color: -fx-blue;
        -fx-border-color: -fx-dark;
        -fx-border-radius: 2px;
        -fx-background-radius: 2px;
        -fx-font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}


.tab-label {
        -fx-text-fill: -fx-light;
}

.tab:selected {
        -fx-background-color: -fx-dark;
        -fx-border-color: -fx-blue;
}

.tab:pressed {
        -fx-translate-y: 1px;
}